# URL do Backend (No desenvolvimento com cabo/ADB, use localhost)
EXPO_PUBLIC_API_URL=http://localhost:4000

# Se você usar algum serviço externo futuramente:
# EXPO_PUBLIC_FIREBASE_KEY=sua_chave_aqui
# EXPO_PUBLIC_GOOGLE_MAPS_API=sua_chave_aqui